{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:promise/recommended",
    "plugin:sonarjs/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "simple-import-sort",
    "react-hooks",
    "promise",
    "optimize-regex",
    "sonarjs",
    "prettier"
  ],
  "rules": {
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-console": "warn",
    "sonarjs/no-identical-expressions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "sonarjs/cognitive-complexity": "off",
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^\\u0000"],
          ["^react$", "^react-.*|$", "^@?\\w"],
          ["^(components|containers|lib)(/.*|$)"],
          ["^(store|hooks|utils|services)(/.*|$)"],
          ["^(styles|public|assets)(/.*|$)", ".*\\.module\\.scss|$", ".*\\.svg|$"],
          ["^\\.", "^(types)(/.*|$)"],
          ["^(data)(/.*|$)"]
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "jsx-quotes": ["error", "prefer-double"]
  },
  "globals": {
    "React": "writable"
  },
  "ignorePatterns": ["node_modules/", "build/", "dist/", "coverage/", "static/"]
}
