.trackCellContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    height: 60px;
    width: 60px;
  }
  .trackContent {
    display: flex;
    flex-direction: column;
    .explicitContainer {
      background-color: #e2e2e2;
      border-radius: 2px;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: .015em;
      text-transform: uppercase;
      padding: 0 .3em;
      width: fit-content;
    }
    .trackTitle, .trackInfo {
      cursor: pointer;
      font-weight: bold;
      font-size: 14px;
      width: fit-content;
      &:hover {
        text-decoration: underline;
      }
    }
    .trackTitle {
      color: #353940;
    }
    .trackInfo {
      color: #8F8F8F;
    }
  }
}